.btn-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    font-size: 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #489cc1;
    color: #fff;
    transition: 0.3s ease-in-out;
  }
  .btn-submit:hover {
    background-color: #bdc3c7;
    transform: scale(1.025);
  }
  .btn-delete{
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    margin-left: 1rem;
    cursor: pointer;
  }
  .btn-delete:hover{
    transform: scale(1.3);
  }